<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!--	namespace:mapper的命名空间，一般使用mapper文件的全路径		 -->

<mapper namespace="com.boda.mapper.OperationMapper">

	<resultMap type="com.boda.pojo.OperationLog" id="operationResultMap">
		<id column="operation_id" property="operationId"/>
		<result column="emp_id" property="empId"/>
		<result column="operation_date" property="operationDate"/>
		<result column="operation_type" property="operationType"/>
	</resultMap>

	<!-- 通过操作记录id查询操作记录；-->
	<select id="findoperationById" parameterType="Integer" resultType="com.boda.pojo.OperationLog">
		select * from operation_log where operation_id = #{value}
	</select>
	<!-- 根据操作记录日期查询操作记录，将结构封装为OperationLog列表返回-->
	<select id="findOperationByDate" parameterType="String" resultMap="com.boda.pojo.OperationLog">
		select * from operation_log where operation_date = #{value}
	</select>
	<!-- 根据员工id查询某员工操作记录-->
	<select id="findOperationByEmpId" parameterType="String" resultMap="com.boda.pojo.OperationLog">
		select * from operation_log where emp_id = #{value}
	</select>

	<!-- 根据日期和员工id查询操作记录 -->
	<select id="findOperationLogs" resultMap="com.boda.pojo.OperationLog">
		SELECT *
		FROM operation_log
		WHERE operation_date = #{date} AND emp_id = #{empId}
	</select>

	<!-- 插入数据到数据库-->
	<insert id="addOperationLog" parameterType="com.boda.pojo.OperationLog">
		<!-- 通过order="AFTER"先执行插入操作后，用Select last_insert_id()语句查询出新插入数据的id值放入user里-->
	 	<selectKey keyProperty="empId" order="AFTER" resultType="Integer">
	 		Select last_insert_id()
	 	</selectKey>
		insert into operation_log (operation_id,emp_id,operation_date,operation_type) 
		values (#{operationId},#{empId},#{operationDate},#{operationType});
	</insert>	
</mapper>