<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
		
		


	<!-- 配置处理器适配器 SimpleControllerHandlerAdapter：即简单控制器处理适配器， 所有实现 了Controller接口的Bean作为Springmvc的后端控制器。 
		<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" 
		/> -->

	<!-- 配置处理器映射器 BeanNameUrlHandlerMapping：表示将定义的Bean名字作为请求的url， 需要将编写 的controller在spring容器中进行配置，且指定bean的name为请求的url， 
		且必须以.action结尾。 <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" 
		/> -->

	<!-- 开启springMVC注解驱动 -->
	<mvc:annotation-driven />

	<!-- 开启spring的扫描器 -->
	<context:component-scan base-package="com.boda.controller" />
	<context:component-scan base-package="com.boda.service" />

	<!-- 配置视图解析器 InternalResourceViewResolver：支持JSP视图解析。 viewClass：JstlView表示JSP模板页面需要使用JSTL标签库，所以classpath中必须包含jstl的相关jar包； 
		prefix和suffix：查找视图页面的前缀和后缀，最终视图的址为：前缀+逻辑视图名+后缀， 逻辑视图名 需要在controller中返回ModelAndView指定，比如逻辑视图名为hello，则最终返回的jsp视图地址 
		"WEB-INF/jsp/hello.jsp" -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	



 	<!-- 多部分文件上传 -->
	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		指定所上传文件的总大小不能超过104857600。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>  -->

</beans>